<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="indi.ayun.original_mvp">
    <!-- 网络 -->
    <!-- 网络状态权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /><!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" /><!-- 网络权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 写外部存储 -->
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /><!-- 读写 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
</manifest>